
    <img src="vlad5-min.jpg"/>
    <h1>Contact</h1>
  
    <input placeholder="Full Name" type="text">

    <input placeholder="Telephone" type="tel">

    <input placeholder="Email" type="email">

    <textarea placeholder="Message"></textarea>

    <button type="submit">Submit</button>



