<div class="grid-container">
  <h2 class="gallery_header">Gallery</h2>
  <div class="row">
    <img  src="header2.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic39.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic41.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic56.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic48.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic55.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic52.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic54.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic43.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic40.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic37.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic49.jpg" class="col_3 gallery_imgs"/>
  </div>  

  <div class="row">
    <img  src="pic32.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic20.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic19.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic12.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic11.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic28.jpg" class="col_3 gallery_imgs"/>
  </div>
    
  <div class="row">
    <img  src="pic8.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic38.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic4.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic1.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic5.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic7.jpg" class="col_3 gallery_imgs"/>
  </div>  

  <div class="row">
    <img  src="pic53.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic2.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic27.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic29.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic31.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic21.jpg" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic42.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic47.jpg" class="col_3 gallery_imgs"/>
    <img  src="pic50.jpg" class="col_3 gallery_imgs"/>
  </div>  
