<div class="grid-container">
  <h2 class="gallery_header">Gallery</h2>
  <div class="row">
    <img  src="header2.png" class="col_3 gallery_imgs"/>
    <img  src="pic39.png" class="col_3 gallery_imgs"/>
    <img  src="pic41.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic56.png" class="col_3 gallery_imgs"/>
    <img  src="pic48.png" class="col_3 gallery_imgs"/>
    <img  src="pic55.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic52.png" class="col_3 gallery_imgs"/>
    <img  src="pic54.png" class="col_3 gallery_imgs"/>
    <img  src="pic43.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic40.png" class="col_3 gallery_imgs"/>
    <img  src="pic37.png" class="col_3 gallery_imgs"/>
    <img  src="pic49.png" class="col_3 gallery_imgs"/>
  </div>  

  <div class="row">
    <img  src="pic32.png" class="col_3 gallery_imgs"/>
    <img  src="pic20.png" class="col_3 gallery_imgs"/>
    <img  src="pic19.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic12.png" class="col_3 gallery_imgs"/>
    <img  src="pic11.png" class="col_3 gallery_imgs"/>
    <img  src="pic28.png" class="col_3 gallery_imgs"/>
  </div>
    
  <div class="row">
    <img  src="pic8.png" class="col_3 gallery_imgs"/>
    <img  src="pic38.png" class="col_3 gallery_imgs"/>
    <img  src="pic4.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic1.png" class="col_3 gallery_imgs"/>
    <img  src="pic5.png" class="col_3 gallery_imgs"/>
    <img  src="pic7.png" class="col_3 gallery_imgs"/>
  </div>  

  <div class="row">
    <img  src="pic53.png" class="col_3 gallery_imgs"/>
    <img  src="pic2.png" class="col_3 gallery_imgs"/>
    <img  src="pic27.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic29.png" class="col_3 gallery_imgs"/>
    <img  src="pic31.png" class="col_3 gallery_imgs"/>
    <img  src="pic21.png" class="col_3 gallery_imgs"/>
  </div>

  <div class="row">
    <img  src="pic42.png" class="col_3 gallery_imgs"/>
    <img  src="pic47.png" class="col_3 gallery_imgs"/>
    <img  src="pic50.png" class="col_3 gallery_imgs"/>
  </div>  
