<div class="grid-container">
  <div class="row home_row_1">
    <div class="col_1 home_links">
      <a href="gallery">Gallery</a>
    </div>
  </div>

  <div class="row home_row_2">
    <div class="col_1 home_links">
      <a href="scot">Scot</a>
    </div> 
  </div>    
  
  <div class="row home_row_3">
    <div class="col_1 home_links">
      <a href="vlad">Vlad</a>
    </div>
  </div>    

  <div class="row home_row_4">
    <div class="col_1 home_links">
      <a href="justin">Justin</a>
    </div>
  </div>    

  <div class="row home_row_5">
    <div class="col_1 home_links">
      <a href="contact">Contact</a>
    </div>
  </div>
</div>


