<div class="center-align">
  <div class="row">
    <div class="">
        <img src="pic2-min.jpg"/>
        <a href="gallery">Gallery</a>
    </div>

    <img src="pic28-min.jpg"/>
    <a  href="scot">Scot</a>

    <img src="vlad2-min.jpg"/>
    <a  href="vlad">Vlad</a>

    <img src="vlad8-min.jpg"/>
    <a  href="justin">Justin</a>

    <img src="scotheader-min.jpg"/>
    <a  href="contact">Contact</a>
  </div>
</div>



