<div class="grid-container">
  <div class="row profile_row_3">
    <div class="col_1">
      <h1 class="profile_header">Justin</h1>
    </div>
  </div>

  <div class="row profile_div">
    <div class="profile_left">
      <img src="justin_prof.png" class="profile_img"/>
    </div>

    <div class="profile_right">
      <p class="name">Justin Ote</p>

      <a class="social" href="https://www.instagram.com/otejustin/" target="_blank">
        <img class="social" src="insta.png"/>
      </a>

      <a class="social" href="https://twitter.com/justinote" target="_blank">
        <img class="social" src="twitter.png"/>
      </a>

      <a class="social" href="https://www.youtube.com/channel/UCmb1wN9NU8UYXxnkVZoHHpA" target="_blank">
        <img class="social" src="youtube.png"/>
      </a>

      <a href="mailto:otejustin@yahoo.com">
        <img class="social" src="email.png"/>
      </a>

      <p class="intro">Hello my name is Justin Ote. I was born in Gapan, Philippines (1996) and raised in Northwest Philly. I am currently living in Millville, New Jersey and attending College at Cumberland County to pursue my degree in graphic design. My hobbies are listening to music, hanging out with friends, travel and photography/videography. Feel free to reach out to me anytime. I am available for hire.</p>
    </div>  
  </div>
</div>      
