<div class="grid-container">
  <div class="row profile_row_1">
    <div class="col_1">
      <h1 class="profile_header">Scot</h1>
    </div>
  </div>

  <div class="row profile_div">
    <div class="profile_left">
      <img src="scot_prof.png" class="profile_img"/>
    </div>

    <div class="profile_right">
      <p class="name">Scot Chard</p>

      <a href="https://www.instagram.com/scot_chard/" target="_blank">
        <img class="social" src="insta.png"/>
      </a>

       <a href="https://github.com/Scotchard22" target="_blank">
        <img class="social" src="github.png"/>
       </a>

      <a href="https://www.linkedin.com/in/scotchard" target="_blank">
        <img class="social" src="linkedin.png"/>
      </a>

      <a href="mailto:Scot.c.chard@gmail.com">
        <img class="social" src="email.png"/>
      </a>

      <p class="intro">Welcome everyone! I have a sincere passion in photography. I do everything from portraits, car shoots, landscapes, macro-photography, and much more. My love for traveling has sparked a big interest in photography. It isn't just simply capturing images of a place, a thing, or a person. Photography is capturing the most valuable moments in your life, and making them timeless. It captures the moment along with the feelings, and memories that go along with the image at that current time. I am also a Full-Stack Software Developer, and I am the creator of this site. I am currently a freelance developer. If you need a high quality site built I am your guy. Feel free to contact me for any of your photographic needs or if you would need a website built.</p>
    </div>  
  </div>
</div>      


