<div class="grid-container">
  <div class="row profile_row_2">
    <div class="col_1">
      <h1 class="profile_header">Vlad</h1>
    </div>
  </div>

  <div class="row profile_div">
    <div class="profile_left">
      <img src="vlad_prof.png" class="profile_img"/>
    </div>

    <div class="profile_right">
      <p class="name">Vladyslav Dokhvat</p>

      <a href="https://www.instagram.com/vladdokhvat/" target="_blank">
        <img class="social" src="insta.png"/>
      </a>

      <a class="social" href="https://twitter.com/VladDokhvat" target="_blank">
        <img class="social" src="twitter.png"/>
      </a>

      <a class="social" href="https://www.facebook.com/vladyslav.dokhvat?fref=ts" target="_blank">
        <img class="social" src="facebook.png"/>
      </a>

      <a class="social" href="https://www.youtube.com/channel/UCcGFLtgkj2hyK3b0n9K8URA" target="_blank">
        <img class="social" src="youtube.png"/>
      </a>

      <a href="https://www.linkedin.com/in/vladyslav-dokhvat-a16b6710a?trk=nav_responsive_tab_profile" target="_blank">
        <img class="social" src="linkedin.png"/>
      </a>

      <a href="mailto:Vladdokhvat@gmail.com">
        <img class="social" src="email.png"/>
      </a>

      <p class="intro">Hello, I am Vladyslav, but you can just call me Vlad. I was born in Ternopil, Ukraine and moved to United States at the age of 9. I am currently attenting college to pursue my passion as a Software Engineer. My hobbies consist of photography, photoshop, coding, athletic activitives, fishing, and hanging out with friends. As a photographer, I enjoy most capturing images of landscapes and portraits, yet I am comfortable in all fields. My portfolio consists of family photography, landscapes, portrait images, and weddings. Feel free to contact me with any buisness inquiries, questions, comments, or concerns. Thank you!</p>
    </div>  
  </div>
</div> 
